@media (max-width: 400px) {
    .container {
        margin-left: 2rem;
    }
    .container img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.5em;
    }
    .textOverlay {
        bottom: -40%;
    }
}
