.ppal {
    width: 100%;
}
.h1:hover {
    filter: drop-shadow(0 0 2em #006465);
    cursor: pointer;
}
.description-container {
    padding-left: 2rem;
    text-align: left;
}
.tech-container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    width: 95%;
    margin: auto;
}
.certs-container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 1rem;
    flex-direction: row;
}
.foto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.word {
    font-weight: bolder;
    text-shadow: 0 0.2em 0.2em black;
}
.social {
    margin: 0 1rem 0 1rem;
}
.social:hover {
    filter: drop-shadow(0 0 2em #13b3ab);
}

.socialimg {
    border-radius: 30%;
}
.aside {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;

    width: 100% !important;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 0.1rem;
    padding-top: 7rem;
    background-color: #484848;
}

.footer {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.2),
        rgba(00, 0, 0, 0.01),
        rgba(00, 0, 0, 0)
    );
    padding-bottom: 1rem;
}

#top {
    margin-bottom: 3rem;
}
#tools-technologies {
    margin-bottom: 0;
    padding: 2rem;
}
#education {
    margin-bottom: 1rem;
    padding: 2rem;
}
#about {
    margin-bottom: 1rem;
    padding: 2rem;
}
@media (max-width: 860px) {
    .aside {
        margin-top: 2.3rem;

        width: 100% !important;
    }
    #top {
        margin-bottom: 3.3rem;
    }
    #tools-technologies {
        margin-bottom: 0;
        padding: 2rem;
    }
    #education {
        margin-bottom: 0;
        padding: 2rem;
    }
    #about {
        margin-bottom: 0;
        padding: 2rem;
    }
    .ppal {
        width: 100%;
    }

    @media (max-width: 400px) {
        .description-container {
            margin: 1rem;
        }
        .aside {
            margin-top: 2rem;

            width: 100% !important;
        }
        .ppal {
            width: 100%;
        }
        #top {
            margin-bottom: 5rem;
        }
        #tools-technologies {
            margin-top: 20rem;
            margin-bottom: 3rem;
        }
        #education {
            margin-top: 20rem;
            margin-bottom: 4rem;
        }
        #about {
            margin-top: 20rem;
            margin-bottom: 2rem;
        }
    }
}
