.container {
    margin-top: 6rem;
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-between;
}

.a {
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(97, 218, 251, 0.67);
    width: max-content;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    text-decoration: none;
    width: 46%;
}

.image {
    margin-right: 20px;
    max-height: 30vh;
    border-radius: 1.5em;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(2, 55, 70, 0.67);
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.title {
    font-size: larger;
    margin: 0;
}

.description {
    font-size: large;
    margin: 0;
}
@media (max-width: 400px) {
    .a {
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 0.5rem rgba(97, 218, 251, 0.67);
    }
}
